absl-py==2.3.0
accelerate==1.8.1
adapter-transformers==4.0.0
adapters==1.2.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.4
aiosignal==1.3.2
aiosqlite==0.21.0
alembic==1.16.4
altair==5.5.0
annotated-types==0.7.0
anyio==4.9.0
appdirs==1.4.4
argcomplete==3.6.2
argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
async-lru==2.0.5
async-timeout==4.0.3
attrs==25.3.0
autopep8==2.3.2
babel==2.17.0
backports.tarfile==1.2.0
banks==2.2.0
beautifulsoup4==4.13.4
beir==2.2.0
bitsandbytes==0.46.1
bleach==6.2.0
blinker==1.9.0
boto3==1.39.11
botocore==1.39.11
Brotli @ file:///croot/brotli-split_1736182456865/work
build==1.3.0
CacheControl==0.14.3
cachetools==5.5.2
certifi @ file:///croot/certifi_1750863846190/work/certifi
cffi==1.17.1
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
cleo==2.1.0
click==8.2.1
cloudpickle==3.1.1
colorama==0.4.6
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1733502965406/work
contourpy==1.3.2
crashtest==0.4.1
cryptography==45.0.5
cycler==0.12.1
databricks-sdk==0.58.0
dataclasses-json==0.6.7
datasets==3.6.0
DateTime==5.5
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1744321252239/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
defusedxml==0.7.1
Deprecated==1.2.18
deprecation==2.1.0
device-smi==0.4.1
dill==0.3.8
dirtyjson==1.0.8
diskcache==5.6.3
distlib==0.4.0
distro==1.9.0
docker==7.1.0
dulwich==0.22.8
dynaconf==3.2.11
einops==0.8.1
evidently==0.7.11
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1746947292760/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1745502089858/work
faiss==1.9.0
faiss-gpu==1.7.2
Faker==37.4.2
fastapi==0.116.1
fastjsonschema==2.21.1
filelock @ file:///croot/filelock_1744281381737/work
filetype==1.2.0
findpython==0.6.3
Flask==3.1.1
fonttools==4.58.5
fqdn==1.5.1
frozenlist==1.6.0
fsspec==2025.3.0
future==1.0.0
gekko==1.3.0
gitdb==4.0.12
GitPython==3.1.44
gmpy2 @ file:///croot/gmpy2_1738085463648/work
google-auth==2.40.3
gptqmodel==2.2.0
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
graphviz==0.21
greenlet==3.2.3
griffe==1.8.0
gunicorn==23.0.0
h11==0.16.0
hf-xet==1.1.2
hf_transfer==0.1.9
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.32.2
hyperopt==0.2.7
idna @ file:///croot/idna_1714398848350/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
importlib_resources==6.5.2
iniconfig==2.1.0
installer==0.7.0
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1719845459717/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipython_1745673194/work
ipywidgets @ file:///croot/ipywidgets_1733504575802/work
ir_measures==0.3.7
isoduration==20.11.0
isort==6.0.1
iterative-telemetry==0.0.10
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.2.1
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
jeepney==0.9.0
Jinja2 @ file:///croot/jinja2_1741710844255/work
jiter==0.10.0
jmespath==1.0.1
joblib==1.5.1
json5==0.12.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.6
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1748333051527/work
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets @ file:///croot/jupyterlab_widgets_1733440870459/work
keyring==25.6.0
kiwisolver==1.4.8
langchain==0.3.27
langchain-core==0.3.72
langchain-text-splitters==0.3.9
langsmith==0.4.8
lark==1.2.2
lion-pytorch==0.2.3
litestar==2.16.0
litestar-htmx==0.5.0
llama-cloud==0.1.32
llama-cloud-services==0.6.43
llama-index==0.12.52
llama-index-agent-openai==0.4.12
llama-index-cli==0.4.4
llama-index-core==0.12.52.post1
llama-index-embeddings-huggingface==0.5.5
llama-index-embeddings-openai==0.3.1
llama-index-indices-managed-llama-cloud==0.7.10
llama-index-instrumentation==0.3.0
llama-index-llms-huggingface==0.5.0
llama-index-llms-openai==0.4.7
llama-index-multi-modal-llms-openai==0.5.3
llama-index-program-openai==0.3.2
llama-index-question-gen-openai==0.3.1
llama-index-readers-file==0.4.11
llama-index-readers-llama-parse==0.4.0
llama-index-workflows==1.2.0
llama-parse==0.6.43
llama_cpp_python==0.3.14
logbar==0.0.4
Mako==1.3.10
markdown-it-py==3.0.0
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
marshmallow==3.26.1
matplotlib==3.10.3
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
mdurl==0.1.2
mistune==3.1.3
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
mlflow==3.1.1
mlflow-skinny==3.1.1
more-itertools==10.7.0
mpmath @ file:///croot/mpmath_1690848262763/work
msgpack==1.1.1
msgspec==0.19.0
multidict==6.4.4
multipart==1.2.1
multiprocess==0.70.16
munch==2.5.0
mypy_extensions==1.1.0
narwhals==1.48.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx @ file:///croot/networkx_1737039604450/work
nltk==3.9.1
notebook==7.4.4
notebook_shim==0.2.4
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp310-cp310-linux_x86_64.whl#sha256=d8cd837ed43e87f77e6efaa08e8de927ca030a1c9c5d04624432d6fb9a74a5ee
nvidia-nccl-cu12==2.27.6
onnx==1.18.0
openai==1.97.1
opentelemetry-api==1.35.0
opentelemetry-proto==1.35.0
opentelemetry-sdk==1.35.0
opentelemetry-semantic-conventions==0.56b0
optimum==1.26.1
orjson==3.11.0
overrides==7.7.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas==2.2.3
pandocfilters==1.5.1
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
patsy==1.0.1
pbs-installer==2025.8.8
peft==0.16.0
perfect==0.0.1
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow @ file:///croot/pillow_1744613067434/work
pipenv==2025.0.4
pipx==1.7.1
pkginfo==1.12.1.2
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1746710438/work
plotly==5.24.1
pluggy==1.6.0
poetry==2.1.4
poetry-core==2.1.3
polyfactory==2.22.1
prometheus_client==0.22.1
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1744724089886/work
propcache==0.3.1
protobuf==6.31.1
psutil==5.9.8
psycopg==3.2.9
psycopg-binary==3.2.9
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
py4j==0.10.9.9
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle==2.14.0
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
pydeck==0.9.1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
pyparsing==3.2.3
pypdf==5.8.0
pyproject_hooks==1.2.0
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
pytest==8.4.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
python-decouple==3.8
python-dotenv==1.1.1
python-json-logger==3.3.0
pytrec_eval-terrier==0.5.7
pytz==2025.2
PyYAML @ file:///croot/pyyaml_1728657952215/work
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1743831255788/work
random_word==1.0.13
RapidFuzz==3.13.0
referencing==0.36.2
regex==2024.11.6
requests @ file:///croot/requests_1730999120400/work
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==13.9.4
rich-click==1.8.9
rouge==1.0.1
rouge_score==0.1.2
rpds-py==0.26.0
rsa==4.9.1
s3transfer==0.13.1
safetensors==0.5.3
scikit-learn==1.7.0
scipy==1.15.3
seaborn==0.13.2
SecretStorage==3.3.3
Send2Trash==1.8.3
sentence-transformers==4.1.0
sentencepiece==0.2.0
shellingham==1.5.4
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.7
SQLAlchemy==2.0.41
sqlparse==0.5.3
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
starlette==0.47.1
statsmodels==0.14.5
streamlit==1.47.0
streamlit-aggrid==1.1.7
striprtf==0.0.26
sympy==1.13.1
tenacity==9.1.2
terminado==0.18.1
threadpoolctl==3.6.0
tiktoken==0.9.0
tinycss2==1.4.0
tokenicer==0.0.4
tokenizers==0.21.1
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.3
torch==2.5.1
torchaudio==2.5.1
torchinfo==1.8.0
torchview==0.2.7
torchvision==0.20.1
torchviz==0.0.3
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1748003301700/work
tqdm==4.67.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
transformers==4.51.3
triton==3.1.0
trove-classifiers==2025.8.6.13
trulens==2.1.0
trulens-apps-langchain==2.1.0
trulens-apps-llamaindex==2.1.0
trulens-core==2.1.0
trulens-dashboard==2.1.0
trulens-feedback==2.1.0
trulens-otel-semconv==2.1.0
trulens-providers-huggingface==2.1.0
trulens_eval==2.1.0
typer==0.16.0
types-python-dateutil==2.9.0.20250708
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions @ file:///croot/typing_extensions_1734714854207/work
tzdata==2025.2
ujson==5.10.0
uri-template==1.3.0
urllib3 @ file:///croot/urllib3_1737133630106/work
userpath==1.9.2
utils==1.0.2
uuid6==2025.0.1
uv==0.8.8
uvicorn==0.35.0
uvloop==0.21.0
virtualenv==20.31.2
watchdog==6.0.0
watchfiles==1.1.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wget==3.2
widgetsnbextension @ file:///croot/widgetsnbextension_1733439572884/work
wrapt==1.17.2
xgboost==3.0.2
xxhash==3.5.0
yarl==1.20.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1748277385522/work
zope.interface==7.2
zstandard==0.23.0
